    .playlist-container {
      position: fixed;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
      background: #333;
      overflow-y: auto;
      padding: 20px;
      color: #fff;
      z-index: 999;
    }

    .playlist-container.hidden {
      display: none;
    }