body {
  background: linear-gradient(90deg, rgba(29,31,33,1) 0%, rgba(15,17,18,1) 100%);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  margin-bottom:0%;
  padding: 0% 0% 5% 5%;
  width: 90%;
  height: auto;
}

.container {
  text-align: center;
  padding-top: 0px;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 50.25%;
  background: #000;
  cursor:pointer;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* CSS for video details overlay */
.video-details-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 1; /* Always visible */
  transition: opacity 0.3s ease-in-out;
  cursor:pointer;
}


/* CSS for video details overlay in full-screen mode */
.video-container.full-screen .video-details-overlay,
.video-details-overlay.full-screen-overlay {
  top: 90%; /* Adjust the position for full-screen mode */
}


/* Hide the "Select Video" button */
.hide-button {
  display: none;
}
