/* Add styles for the playlist container */
.playlist-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #333;
  overflow-y: auto;
  padding: 20px;
  color: #fff;
  z-index: 999;
  text-align:center;
}

.playlist-container.hidden {
  display: none;
}

/* Add styles for playlist items */
.playlist-item {
  display: flex;
  align-items: left;
  margin-bottom: 10px;
  cursor: grab;
}

/* Add styles for thumbnails */
.thumbnail {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

/* Add styles for file names */
.file-name {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align:left;
}


.d{
color:cyan;
}

