.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 90%;
    height: 90%;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
}

.popup-content iframe {
    width: 100%; /* Ensure the iframe takes up 100% width */
    height: 100%; /* Ensure the iframe takes up 100% height */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
    color:red;
}

img {
    position: absolute;
    top: 10px;
    right: 10px;
    height:80px;
    width:auto;
    cursor: pointer;
    color:red;
}
